.add-box {
    padding-bottom: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.add-form .btn-secondary {
    width: 65px;
    cursor: pointer;
}

.add-form .btn-secondary:focus {
    outline: none;
}

.add-menu i {
    display: block;
    cursor: pointer;
}

.plus-icon {
    background: url(/resources/images/plus.png) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.minus-icon {
    background: url(/resources/images/minus.png) no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.add-form {
    width: 90%;
}

.post-box .inner-box {
    display: flex;
    justify-content: space-between;
}

.post-box .inner-box .form-control {
    width: 90%;
}